
body {
    background-color: aquamarine;  
    background-attachment: scroll;
}

#gameBoard {
    background-image: url("assets/Cat-Cafe.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    height: 900px;
    width: 1423.33px;
    position: static;
}

h1 {
    color: purple;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#timer {
    text-align: left;
}

#strikes {
    text-align: right;
}
#Play {
    background-color: mediumorchid;
    border: 2px solid purple;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}
    

#Play:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#Instructions {
    background-color: mediumorchid;
    border: 2px solid purple;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

#Instructions:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

