body {
    background-color: peachpuff;
    justify-content: center;
    height: 100%;
    width: 100%;
    
}

#gameBoard {
    position: relative;
    background-image: url("assets/Cat-Cafe.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    padding: auto;
    height: 684px;
    width: 793px;
    display: flex;
    justify-content: center;

}

#freddie {
    margin: 0;
    padding: 0%;
    position: absolute;
    top: 319px;
    left: -19px;
}

#baby {
    margin: 0;
    padding: 0%;
    position: absolute;
    top: 177px;
    left: 259px;
}

#yam {
    margin: 0;
    padding: 0%;
    position: absolute;
    top: 286px;
    left: 513px;
}

h1 {
    color: purple;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;

}

h3 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

#timer {
    text-align: left;
    font-size: 24px;
}

#strikes {
    text-align: left;
    font-size: 24px;
}

#Play {
    position: absolute;
    top: 173px;
    left: 821px;
    font-size: 20px;
    background-color: mediumorchid;
    border: 2px solid purple;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#Play:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#Instructions {
    position: absolute;
    top: 117px;
    left: 787px;
    font-size: 20px;
    background-color: mediumorchid;
    border: 2px solid purple;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#Instructions:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#freddieKarlFazbear{
    height: 275px;
    width: 251px;
}

#princessDiana {
    height: 513px;
    width: 272px;
}

#missBaby {
    height: 342px;
    width: 270px;
}
  
#meow-bubble {
    display: none;
    position: absolute;
}

.buttons {
    position: absolute;
    top: 10px;
    /* left: -268px; */
}