body {
    color: aquamarine;
}

h1 {
    color: purple;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#Play {
    background-color: mediumorchid;
    border: 2cap solid purple;
    color: white;

}

#Play:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#Instructions {
    background-color: mediumorchid;
    border: 2cap solid purple;
    color: white;

}

#Instructions:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

