$body-color: peachpuff;
$purple: purple;
$mediumorchid: mediumorchid;
$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

body {
    background-color: $body-color;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#gameBoard {
    position: relative;
    background-image: url("assets/Cat-Cafe.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    padding: auto;
    height: 684px;
    width: 793px;
    display: flex;
    justify-content: center;
}

#freddie,
#baby,
#yam {
    margin: 0;
    padding: 0%;
    position: absolute;
}

#freddie {
    top: 319px;
    left: -19px;
}

#baby {
    top: 177px;
    left: 259px;
}

#yam {
    top: 286px;
    left: 513px;
}

h1 {
    color: $purple;
    font-size: 40px;
    font-family: $font-family;
    text-align: center;
}

h3 {
    text-align: center;
    font-family: $font-family;
}

#timer,
#strikes {
    text-align: left;
    font-size: 24px;
}

#Play,
#Instructions {
    position: absolute;
    font-size: 20px;
    background-color: $mediumorchid;
    border: 2px solid $purple;
    color: white;
    font-family: $font-family;
}

#Play {
    top: 173px;
    left: 821px;
}

#Instructions {
    top: 117px;
    left: 787px;
}

#Play:hover,
#Instructions:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

p {
    font-size: 22px;
    font-family: $font-family;
}

#freddieKarlFazbear {
    height: 275px;
    width: 251px;
}

#princessDiana {
    height: 513px;
    width: 272px;
}

#missBaby {
    height: 342px;
    width: 270px;
}

#meow-bubble {
    display: none;
    position: absolute;
}

.buttons {
    position: absolute;
    top: 10px;
}

#freddieMeow,
#babyMeow,
#yamMeow {
    position: absolute;
    top: 197px;
    opacity: 0;
}

#freddieMeow {
    left: -6px;
}

#babyMeow {
    left: 293px;
}

#yamMeow {
    left: 580px;
}
